body{
    background-image:url(../Users/yuvaraj/OneDrive/Pictures/yuvaraj/realistic-blur-background-store-department-store-supermarket-grocery-store-ai-generated-image-realistic-blur-background-273631073.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
